In [1]:
%load_ext blackcellmagic

In [2]:
import numpy as np
import pandas as pd
import re
import string
from string import punctuation

In [3]:
pd.set_option('display.max_columns', 40)

In [3]:
raw1 = pd.read_csv('../data/china_082019_1_tweets_csv_hashed.csv')
raw2 = pd.read_csv('../data/china_082019_2_tweets_csv_hashed.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (15,19,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
raw = pd.concat([raw1, raw2])

In [5]:
raw.head()

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
0,436306424587890688,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,1.0,0.0,NaN,NaN,[443196382],NaN
1,582682975969624064,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,52.0,[],['http://goo.gl/32K38q'],[],NaN
2,582997936541278208,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,[],[],[116351908],NaN
3,580404049901670400,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,[],['http://goo.gl/iC1GM9'],[],NaN
4,199007241142149121,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,NaN,100847,31752,2010-10-22,...,absent,absent,0.0,0.0,0.0,0.0,NaN,['http://migre.me/8Ycqm'],NaN,NaN

In [6]:
raw.shape

(3614909, 31)

In [7]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3614909 entries, 0 to 1708077
Data columns (total 31 columns):
tweetid                     int64
userid                      object
user_display_name           object
user_screen_name            object
user_reported_location      object
user_profile_description    object
user_profile_url            object
follower_count              int64
following_count             int64
account_creation_date       object
account_language            object
tweet_language              object
tweet_text                  object
tweet_time                  object
tweet_client_name           object
in_reply_to_userid          object
in_reply_to_tweetid         float64
quoted_tweet_tweetid        float64
is_retweet                  bool
retweet_userid              object
retweet_tweetid             float64
latitude                    object
longitude                   object
quote_count                 float64
reply_count                 float64
like_count                  float64
retweet_count               float64
hashtags                    object
urls                        object
user_mentions               object
poll_choices                object
dtypes: bool(1), float64(7), int64(3), object(20)
memory usage: 858.4+ MB

In [8]:
raw = raw.drop(
    columns=[
        "user_profile_url",
        "tweet_client_name",
        "in_reply_to_tweetid",
        "in_reply_to_userid",
        "quoted_tweet_tweetid",
        "is_retweet",
        "retweet_userid",
        "retweet_tweetid",
        "quote_count",
        "reply_count",
        "urls",
        "user_mentions",
        "poll_choices",
        "latitude", # no values in dataset beyond absent/present 
        "longitude", # no values in dataset beyond absent/present
        "like_count",
        "retweet_count"
    ]
)

In [9]:
raw.head()

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,follower_count,following_count,account_creation_date,account_language,tweet_language,tweet_text,tweet_time,hashtags
0,436306424587890688,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,100847,31752,2010-10-22,en,pt,segui o @instagranzin e ganhei 89 seguidores ♥...,2014-02-20 01:08,NaN
1,582682975969624064,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,100847,31752,2010-10-22,en,pt,10 COISAS QUE VOCÊ NÃO SABE SOBRE A VAGINA (a ...,2015-03-30 23:17,[]
2,582997936541278208,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,100847,31752,2010-10-22,en,pt,QUE LEGAL! Segui o @AsPositlvidades e ele me i...,2015-03-31 20:08,[]
3,580404049901670400,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,100847,31752,2010-10-22,en,pt,Cantora de funk de 7 anos gera polemica na int...,2015-03-24 16:21,[]
4,199007241142149121,206027550,The Flecha,nessniven,Republic of Korea,When you see Jair Bolsonaro and his program of...,100847,31752,2010-10-22,en,NaN,QUER GANHAR SEGUIDORES FACIL? A QUANTIL QUE QU...,2012-05-06 05:26,NaN

In [10]:
print("Unique userids", raw["userid"].nunique())
print("Unique user display names", raw["user_display_name"].nunique(),)
print("Unique user screen names", raw["user_screen_name"].nunique(), )
print("Unique user reported locations", raw["user_reported_location"].nunique(),)
print("Unique user creation dates", raw["account_creation_date"].nunique(),)
print("Unique account languages", raw["account_language"].nunique(),)
print("Unique tweet languages", raw["tweet_language"].nunique(),)
print("Unique tweet text", raw["tweet_text"].nunique(), )
print("Unique tweet time", raw["tweet_time"].nunique(), )
print("Unique hashtags", raw["hashtags"].nunique(),)

Unique userids 890
Unique user display names 883
Unique user screen names 890
Unique user reported locations 178
Unique user creation dates 427
Unique account languages 9
Unique tweet languages 59
Unique tweet text 3236991
Unique tweet time 1412732
Unique hashtags 110957

In [11]:
# removing tweets with RTs, which number 1,040,647
raw = raw[~raw['tweet_text'].str.startswith("RT @")].copy()

In [12]:
raw.shape

(2574262, 14)

In [15]:
# The top language used for the tweets is strangely enough Bahasa Indonesia..?
raw['tweet_language'].value_counts().head(10)

in     756396
en     443038
zh     138032
und     92043
ar      76906
es      67413
tl      30012
pt      26040
ja       9116
et       9082
Name: tweet_language, dtype: int64

In [16]:
# filtering out tweets only for English and Chinese tweet text
raw = raw[(raw['tweet_language'] == 'en') | (raw['tweet_language'] == 'zh')].copy()

In [18]:
# further significant drop in number of tweets after filtering out non-English 
# and non-Chinese tweets. 1,993,192 tweets were dropped
raw.shape

(581070, 14)

In [ ]:
# Quick check on English key words associated with HK protests, prior to using NLP tools later
key_words1 = raw[raw['tweet_text'].str.contains('hong kong')]
key_words2 = raw[raw['tweet_text'].str.contains('Hong Kong')]
key_words3 = raw[raw['tweet_text'].str.contains('protest')]
key_words4 = raw[raw['tweet_text'].str.contains('activists')]
key_words1 = raw[raw['tweet_text'].str.contains('hong kong')]
key_words1 = raw[raw['tweet_text'].str.contains('hong kong')]

In [24]:
# top 10 users and their display/screen names
raw['user_display_name'].value_counts().head(10)

曲剑明               54455
阿丽木琴              46600
Klausv            34451
春天里               17989
gwalcki4          17707
emiliya naum      16230
derrickmc         16163
Lily Mann         14673
炫彩                14604
mauricerowleyx    11749
Name: user_display_name, dtype: int64

In [21]:
# top 10 users and their display/screen names
raw['user_screen_name'].value_counts().head(10)

qujianming1        54455
SamanthxBerg       46600
klausv02           34451
RanvijaySowle      17989
ingaibragimova1    17707
emiliya_naum       16230
derrickmcnabbx     16163
lily__mann         14673
SheldonxLill       14604
mauricerowleyx     11749
Name: user_screen_name, dtype: int64

In [26]:
raw['user_reported_location'].value_counts().head(10)

纽约布朗克斯                         54455
United States                  42737
Manhattan, NY                  35531
Georgia, USA                   22220
Los Angeles, CA                18368
California, USA                18291
Portland, OR                   17989
Texas                          14673
Worldwide, now mainly Italy     7582
Lubbock, TX                     6532
Name: user_reported_location, dtype: int64

In [27]:
raw['account_language'].value_counts()

zh-cn    364854
en       159626
zh-CN     47954
zh-tw      4069
es         2811
ja          765
en-gb       676
ru          302
fr           13
Name: account_language, dtype: int64

In [33]:
raw['hashtags'].value_counts().head(100)

[]                                            453846
['ptl']                                         9486
['WTL']                                         6282
['wtl']                                         6028
['整点报时']                                        5917
['tlrp']                                        5718
['pltl']                                        4662
['RTL']                                         4581
['rtl']                                         4017
['nrp']                                         1992
['TopNewFollowers']                             1903
['郭文贵']                                         1615
['HarryMeetShalanna']                           1148
['桂民海']                                          944
['PTL']                                          855
['senpaiBot']                                    837
['TLRP']                                         821
['rptl']                                         818
['JeyDice']                                      612
['ic']                                           549
['job', 'jobs', 'hiring', 'IT', 'ITJob']         524
['OperationVacation']                            509
['砸锅', '郭文贵']                                    444
['job', 'jobs', 'hiring']                        422
['mtvstars']                                     387
['NRP']                                          361
['bb']                                           302
['etl']                                          293
['JeydonLopez']                                  289
['PLTL']                                         280
                                               ...
['nzsecretsanta']                                 80
['BattleOfTheFandoms']                            78
['MyWattysChoice']                                78
['rbstl']                                         76
['ClonelleShipper']                               69
['政泉', '郭文贵']                                     65
['FifthHarmony', 'ThatsMyJam']                    65
['Eminem']                                        64
['iHeartAwards', 'BestFanArmy', 'EXOL']           64
['GreenMonday']                                   63
['QueenoftheSkies', 'Boeing747']                  61
['Android', 'androidgames', 'gameinsight']        60
['westchester']                                   60
['harrymeetshalanna']                             60
['HappyAnnivTeamJEYDICE']                         58
['NiallAppreciationDay', 'MTVHottest']            54
['LouisAppreciationDay']                          53
['ParodyIsTheBest']                               52
['ZaynAppreciationDay']                           52
['HarryAppreciationDay', 'MTVHottest']            52
['坦克猫']                                           50
['5G']                                            50
['LiamAppreciationDay', 'MTVHottest']             50
['Arizona']                                       50
['YayoiKusama', 'FestivalofLife']                 49
['quotes']                                        48
['AMAs']                                          48
['MTVCLASH']                                      47
['DVORS']                                         47
['Ptl']                                           44
Name: hashtags, Length: 100, dtype: int64

## 1.1 EXTRACTING NEW FEATURES FROM THE TWEET_TEXT COL

In [22]:
# hastags
raw['hashtags_add'] = raw['tweet_text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [23]:
# links
raw['links'] = raw['tweet_text'].apply(lambda x: len([x for x in x.split() if x.startswith('https')]))

In [24]:
# Upper-case words
raw['upper'] = raw['tweet_text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [25]:
# number of characters in each tweet
raw['char_count'] = raw['tweet_text'].str.len()

In [26]:
# Number of words in tweet text
raw['tweet_word_count'] = raw['tweet_text'].apply(lambda x: len(str(x).split(" ")))

In [27]:
#Average word length of each tweet
def avg_word(tweet):
    words = tweet.split()
    return (sum(len(word) for word in words)/len(words))

In [28]:
raw['average_num_of_words'] = raw['tweet_text'].apply(lambda x: avg_word(x))

## 1.2 FOLLOWER-FOLLOWING RATIO
One likely characteristic of state-backed accounts is they follow a lot of users (or fellow fake accounts), and have very few real followers, ie, unusually low follower-to-following ratio (less than 1 perhaps). Let's create a new column to for this ratio

In [29]:
raw['follower-to-following_ratio'] = raw['follower_count'] / raw['following_count']

In [30]:
raw['follower-to-following_ratio'].value_counts().tail()

0.022222        2
0.035714        1
1.399816        1
8.761905        1
18781.000000    1
Name: follower-to-following_ratio, dtype: int64

## 1.3 YEAR OF ACCOUNT CREATION
We know that a lot of state-backed accounts were created in 2014, and thereafter, following the setup of the Internet Research Agency. So it will be worthwhile to isolate this element for further analysis.

In [31]:
raw['account_creation_date'] = pd.to_datetime(raw['account_creation_date'], yearfirst=True)

In [32]:
raw['year_of_account_creation'] = raw['account_creation_date'].dt.year

In [33]:
raw['month_of_account_creation'] = raw['account_creation_date'].dt.month

In [34]:
raw['month_of_account_creation'] = raw['account_creation_date'].dt.month

## 1.4 TWEET TIME 
Another key assumption is that the state-backed accounts stepped up their activities closer to the US election. Splitting up the tweet times according to year, month and day will allow us to group these tweets more easily during the visualisation phase

In [35]:
raw['tweet_time'] = pd.to_datetime(raw['tweet_time'])

In [36]:
raw['tweet_year'] = raw['tweet_time'].dt.year

In [37]:
raw['tweet_month'] = raw['tweet_time'].dt.month

In [38]:
raw['tweet_day'] = raw['tweet_time'].dt.day

## 1.5 CLEAN UP TWEET_TEXT COL
I'll keep the original tweet text column for reference, and create a newly cleaned column with punctuation etc taken out for the NLP portion of the analysis.

In [39]:
def clean_tweet(text):
    text = text.lower()
    text = re.sub(r"http\S+", "", text)
    text = re.sub("\W", " ", text)
    text = re.sub("\s+", " ", text)
    text = text.strip(" ")
    text = text.strip("\n")
    text = re.sub("[^\w\s]", "", text)
    return text

In [40]:
raw['clean_tweet_text'] = raw['tweet_text'].map(lambda tweet: clean_tweet(tweet))

In [42]:
hk = raw[
    [
        "tweetid",
        "user_screen_name",
        "user_display_name",        
        "user_reported_location",
        "user_profile_description",
        "follower_count",
        "following_count",
        "follower-to-following_ratio",
        "account_creation_date",
        "year_of_account_creation",
        "month_of_account_creation",
        "tweet_time",
        "tweet_year",
        "tweet_month",
        "tweet_day",
        "tweet_text",
        "clean_tweet_text",
        "hashtags",
        "hashtags_add",
        "links",
        "upper",
        "char_count",
        "tweet_word_count",
        "average_num_of_words",
    ]
]

In [47]:
hk = hk[~hk['tweet_text'].str.startswith("RT @")].copy()

In [44]:
hk.columns

Index(['tweetid', 'user_screen_name', 'user_display_name',
       'user_reported_location', 'user_profile_description', 'follower_count',
       'following_count', 'follower-to-following_ratio',
       'account_creation_date', 'year_of_account_creation',
       'month_of_account_creation', 'tweet_time', 'tweet_year', 'tweet_month',
       'tweet_day', 'tweet_text', 'clean_tweet_text', 'hashtags',
       'hashtags_add', 'links', 'upper', 'char_count', 'tweet_word_count',
       'average_num_of_words'],
      dtype='object')

In [51]:
hk.shape

(2574262, 24)